body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #676867;
    margin: 0px;
}

header{
    padding: 10px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 9px 9px 1px 9px;
}

main{
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
    border-radius: 9px 9px 1px 9px;
    box-shadow: 5px 4px 7px 1px rgba(0, 0, 0, 0.37);
}

    article{
        margin: 1px;
        padding: 5px;
        background-color: #b9bdbb;
        border-radius: 9px 9px 1px 9px;
}

nav{
    background-color: #747575;
    padding: 3px;
    box-shadow: 5px 4px 7px #00000075;
}

nav > a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover{
    width: 50px;
    color: rgb(233, 206, 206);
}

aside{
    background-color: #d0d3d1;
}

footer{
    color: #ff0000;
    background-color: black;
    text-align: center;
    padding: 2px;
}

footer > p{
    margin: 0;
}

div#bola{
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}